# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C developer
*.so

# File for PyPI
*.egg-info/
dist/
build/
auto_examples/

# IDE config
.idea/
.spyderproject
.ropeproject

# Python env
.venv/
venv/
.env
.python-version

# save the test data
/data/

# ignore the doc examples files
/docs/source/auto_examples/
/docs/build/
/docs/_build/
/docs/auto_examples/
/docs/source/sg_execution_times.rst

.vscode/
.vscode

# The Repo and Paper
repo/

# Notebook demo dumps
examples/scm/_generated/